In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
delivery=pd.read_csv("/content/drive/MyDrive/Data/deliveries.csv")

In [ ]:
match=pd.read_csv("/content/drive/MyDrive/Data/matches - matches.csv")

In [ ]:
delivery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150460 entries, 0 to 150459
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          150460 non-null  int64
 1   inning            150460 non-null  int64
 2   batting_team      150460 non-null  object
 3   bowling_team      150460 non-null  object
 4   over              150460 non-null  int64
 5   ball              150460 non-null  int64
 6   batsman           150460 non-null  object
 7   non_striker       150460 non-null  object
 8   bowler            150460 non-null  object
 9   is_super_over     150460 non-null  int64
 10  wide_runs         150460 non-null  int64
 11  bye_runs          150460 non-null  int64
 12  legbye_runs       150460 non-null  int64
 13  noball_runs       150460 non-null  int64
 14  penalty_runs      150460 non-null  int64
 15  batsman_runs      150460 non-null  int64
 16  extra_runs        150460 non-null  int64
 17  total_runs        150460 non-null  int64
 18  player_dismissed  7438 non-null    object
 19  dismissal_kind    7438 non-null    object
 20  fielder           5369 non-null    object
dtypes: int64(13), object(8)
memory usage: 24.1+ MB

In [ ]:
match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               636 non-null    int64
 1   season           636 non-null    int64
 2   city             629 non-null    object
 3   date             636 non-null    object
 4   team1            636 non-null    object
 5   team2            636 non-null    object
 6   toss_winner      636 non-null    object
 7   toss_decision    636 non-null    object
 8   result           636 non-null    object
 9   dl_applied       636 non-null    int64
 10  winner           633 non-null    object
 11  win_by_runs      636 non-null    int64
 12  win_by_wickets   636 non-null    int64
 13  player_of_match  633 non-null    object
 14  venue            636 non-null    object
 15  umpire1          635 non-null    object
 16  umpire2          635 non-null    object
 17  umpire3          0 non-null      float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.6+ KB

In [ ]:
# matchs=list(match["city"].unique())
# print(matchs)
match['city'].value_counts().index

Index(['Mumbai', 'Bangalore', 'Kolkata', 'Delhi', 'Hyderabad', 'Chennai',
       'Chandigarh', 'Jaipur', 'Pune', 'Durban', 'Ahmedabad', 'Centurion',
       'Visakhapatnam', 'Rajkot', 'Dharamsala', 'Johannesburg', 'Cape Town',
       'Abu Dhabi', 'Ranchi', 'Port Elizabeth', 'Cuttack', 'Raipur', 'Sharjah',
       'Kochi', 'Indore', 'Kanpur', 'Nagpur', 'Kimberley', 'East London',
       'Bloemfontein'],
      dtype='object')

In [ ]:
#delivery.head(2)
delivery.sort_values("batsman")

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
81618,346,1,Deccan Chargers,Mumbai Indians,14,6,A Ashish Reddy,JP Duminy,RJ Peterson,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
138074,584,1,Sunrisers Hyderabad,Kolkata Knight Riders,20,5,A Ashish Reddy,KV Sharma,AD Russell,0,...,0,0,0,0,1,0,1,A Ashish Reddy,run out,Shakib Al Hasan
81614,346,1,Deccan Chargers,Mumbai Indians,14,2,A Ashish Reddy,JP Duminy,RJ Peterson,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
135261,572,1,Sunrisers Hyderabad,Mumbai Indians,15,5,A Ashish Reddy,KV Sharma,Harbhajan Singh,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
135259,572,1,Sunrisers Hyderabad,Mumbai Indians,15,3,A Ashish Reddy,KV Sharma,Harbhajan Singh,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111417,470,1,Mumbai Indians,Chennai Super Kings,20,5,Z Khan,CM Gautam,BW Hilfenhaus,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
111418,470,1,Mumbai Indians,Chennai Super Kings,20,6,Z Khan,CM Gautam,BW Hilfenhaus,0,...,1,0,0,0,0,1,1,NaN,NaN,NaN
44200,188,1,Mumbai Indians,Royal Challengers Bangalore,19,1,Z Khan,Harbhajan Singh,JH Kallis,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
136691,578,1,Delhi Daredevils,Kolkata Knight Riders,18,4,Z Khan,NM Coulter-Nile,JW Hastings,0,...,0,0,0,0,0,0,0,Z Khan,caught,MK Pandey
14062,60,2,Royal Challengers Bangalore,Kolkata Knight Riders,12,4,Z Khan,P Kumar,SC Ganguly,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN

In [ ]:
delivery.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [ ]:
runs=delivery.groupby("batsman")

In [ ]:
#howmuch play ball batsman
runs.get_group("SK Raina").shape

(3369, 21)

In [ ]:
#Each Batsman runs Highest 
runs["batsman_runs"].sum().sort_values(ascending=False).head(10)

batsman
SK Raina          4548
V Kohli           4423
RG Sharma         4207
G Gambhir         4132
DA Warner         4014
RV Uthappa        3778
CH Gayle          3651
S Dhawan          3561
MS Dhoni          3560
AB de Villiers    3486
Name: batsman_runs, dtype: int64

In [ ]:
#find out batsman highest 6/4
mask=delivery["batsman_runs"]==6
six=delivery[mask]
six.shape[0]

6523

In [ ]:
six.groupby("batsman")["batsman_runs"].size().sort_values(ascending=False)

batsman
CH Gayle         266
SK Raina         174
RG Sharma        173
V Kohli          160
DA Warner        160
                ...
CK Langeveldt      1
CR Woakes          1
P Sahu             1
DE Bollinger       1
Basil Thampi       1
Name: batsman_runs, Length: 301, dtype: int64

In [ ]:
#Find Out Highest Batsman run angest by team
Highest_run=delivery[delivery["batsman"]=="V Kohli"]
Highest_run.groupby("bowling_team")["batsman_runs"].sum().sort_values(ascending=False).head(5)

bowling_team
Chennai Super Kings    706
Delhi Daredevils       661
Kings XI Punjab        483
Mumbai Indians         447
Sunrisers Hyderabad    439
Name: batsman_runs, dtype: int64

In [ ]:
#with function
def Highest_run(batsman_name):
  Highest_run=delivery[delivery["batsman"]==batsman_name]
  return Highest_run.groupby("bowling_team")["batsman_runs"].sum().sort_values(ascending=False).head(5)

In [ ]:
Highest_run("JP Duminy")

bowling_team
Royal Challengers Bangalore    403
Rajasthan Royals               278
Mumbai Indians                 261
Kolkata Knight Riders          233
Kings XI Punjab                170
Name: batsman_runs, dtype: int64

In [ ]:
#Merge Function Use
match.columns

Index(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [ ]:
delivery.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [ ]:
New_data=match.merge(delivery,left_on='id',right_on='match_id')

In [ ]:
print(match.shape,("without_merage"))
print(delivery.shape,("without_merage"))
print(New_data.shape,("with_merage"))

(636, 18) without_merage
(150460, 21) without_merage
(150460, 39) with_merage

In [ ]:
# Top Batsman each season
New_data.groupby(["season","batsman"])["batsman_runs"].sum().sort_values(ascending=False).reset_index().drop_duplicates(subset="season",keep="first").sort_values("season")

    season       batsman  batsman_runs
10    2008      SE Marsh           616
14    2009     ML Hayden           572
9     2010  SR Tendulkar           618
11    2011      CH Gayle           608
3     2012      CH Gayle           733
2     2013    MEK Hussey           733
6     2014    RV Uthappa           660
17    2015     DA Warner           562
0     2016       V Kohli           973
7     2017     DA Warner           641

In [ ]:
# Consider a string s="Python is fun". What will be the output of the statement print(s.partition('on')) ?
s="Python is fun"
print(s.partition('on'))

('Pyth', 'on', ' is fun')